@font-face {
    font-family: 'BloodMoon';
    src: url('bm.ttf') format('truetype'),
         url('bm.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Merriweather', serif; /* Warm, readable typeface */
    margin: 0;
    padding: 0;
    background: url('quote.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #4b4b60; /* Soft light blue for text, reminiscent of moonlight */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    text-align: center;
}

header h1 {
    font-family: 'BloodMoon', Arial, sans-serif; /* Apply BloodMoon to the header */
    color: #fdf090; /* Assuming you're keeping the color scheme discussed */
    text-align: center;
    padding: 15px;    
    width: 100%;
    text-shadow: 2px 2px 4px #000000; /* Optional: adds depth to the title */
}

#quoteButton {
    padding: 10px 20px;
    max-width: 800px;
    width: auto;
    margin: 0 auto;
    font-size: 16px;
    cursor: pointer;
    background-color: #499ffb;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

#quoteButton:hover {
    background-color: #313792; /* A darker shade for hover */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #499ffb;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

#quoteDisplay {
    margin-top: 20px;
    padding: 20px;
    background-color: #e9ecef;
    color: #333;
    font-style: italic;
}

cite {
    display: block;
    margin-top: 10px;
    font-style: normal;
    font-weight: bold;
}
